<p>travel-site-card-list works!</p>
<div class="list-wrapper" *ngIf="travelSites">
    <app-travel-site-card class="app-wrapper" *ngFor="let site of travelSites"
        [imageSource]="site.imageSource"
        [siteDescription]="site.siteDescription"
        [siteName]="site.siteName"
        [siteId]="site.siteId"
        [webSite]="site.webSite"
        [visitDate]="site.datetime"
        [endTravelDate]="this.travel.beginDate"
        [startTravelDate]="this.travel.endDate"
        [visitId]="site.visitId"
        (removeVisit)="removeVisit($event)"
    ></app-travel-site-card>
</div>
