:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .managersitecard{
    padding: 1rem;
    border-radius: 2rem;
    min-height: 30rem;
    width: 90%;
    background-color: #aaa;
    display: flex;
    align-items: center;
    //justify-content: space-around;
    //justify-self: center;

    // img{
    //     height: 90%;
    // }
    label {
        font-weight: 600;
        font-size: 2rem;
        padding-right: 2rem;
    }
    img{
        // border-top-left-radius: 1.8rem;
        // border-top-right-radius: 1.8rem;
        flex: 2;
        width:20%;
        /*height: 200px;*/
        /*height: 12.5rem;*/
        height: 20rem;
        object-fit: cover;
    }

    .msccontent{
        flex: 8;
        
        .categoryrow{
            display: flex;
            align-items: center;
            justify-content: space-around;

            select{
                width: 50%;
                border-radius: .5rem;
                font-size: 2rem;
                text-align: center;
            }

            select.readmode{
                appearance: none;
            }

            label{
                width: 25%;
            }
        }

        .contentrow{
            // 
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            
        }

        .ratingrow{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            p{
                font-size: 3rem;
            font-weight: 700;
            }
        }

        // input.editmode, textarea.editmode{
        //     //background-color: #eee;
        //     background-color: yellow;
        // }

        // // input.readmode, textarea.readmode{
        // //     background-color: #bbb;;
        // // }
        .editmode{
            background-color: #e7e7e7;
        }

        .readmode{
            background-color: #bbb;
        }

        input, textarea{
            width: 90%;
            font-size: 2rem;
            border-radius: .5rem;
        }

        // input{
        //     // background-color: #999;
        //     // font-size: 2rem;
        //     // border: 0;
        //     // outline: none;
        //     width: 90%;
        // }

        textarea {
            resize: none;
            overflow:hidden;
            //width: 90%;
        }
    }

    /*
    .down-row{
            padding: 1rem;
            display: flex;
            justify-content: space-around;

            svg{
                cursor: pointer;
            }

            svg.svgDisabled{
                color: #bbb;
                pointer-events: none;
                cursor: not-allowed;
            }
        }
    */

    .mscicons{

        display: flex;
        flex-direction: column;
        //justify-content: space-between;
        //align-items: center;
        svg{
            cursor: pointer;
            height: 5rem;
            width: 5rem;
        }

        svg.svgDisabled{
            color: #bbb;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}
