<section>
    <div class="inPageTitle">
        <h1>sites in your travel</h1>
    </div>
    

    <ng-container *ngIf="{sites: travelSites$ | async, travel: travel$ | async} as travelProperties"><!--travelSites$ | async as selectedSsites-->
        <div *ngIf="travelProperties.travel && travelProperties.sites">
            <app-travel-site-card-list [travelSites] = "travelProperties.sites" [travel]="travelProperties.travel"></app-travel-site-card-list>
        </div>
    </ng-container>

    
    <div class="inPageTitle" id="addSitesTitle">
        <h1>add sites to your travel</h1>
    </div>
    
    
    <ng-container *ngIf="{sites: userSitesList$ | async, travel: travel$ | async} as travelNSites">
        <div *ngIf="travelNSites.travel && travelNSites.sites">
            <app-site-card-list [sitesList] = "travelNSites.sites" [currentUserEmail] = "userEmail" [isTravelOpen]="true" [travelId]="travelId" 
            [startTravelDate]="travelNSites.travel.beginDate" [endTravelDate]="travelNSites.travel.endDate"></app-site-card-list>
        </div>
    </ng-container>
    
</section>
