<section class="modal-wraper" (click)="anyClick($event)">
    <div class="modal-body">
        <div class="up-row">
            <h2>{{title}}</h2>
        </div>
        
        <form [formGroup]="newTravelForm">
            <div class="row">
                <div class="col">
                    <label for="participanrNumInput">participants number:</label>
                </div>
                <div class="col">
                    <input type="number" min="0" formControlName="participantsNum" id="participanrNumInput" 
                    [class.hasError]="participantsNum?.invalid && (participantsNum?.touched || participantsNum?.dirty)">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="startDatetimeInput">start date and time</label>
                </div>
                <div class="col">
                    <input type="datetime-local" formControlName="beginDate" id="startDatetimeInput">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="endDatetimeInput">end date and time</label>
                </div>
                <div class="col">
                    <input type="datetime-local" formControlName="endDate" id="endDatetimeInput">
                </div>
            </div>
            <div class="row messages">
                <div *ngIf="participantsNum?.invalid && (participantsNum?.touched || participantsNum?.dirty)">
                    <!-- <p *ngIf="participantsNum?.errors?.['minParticipants']">there is no participants</p> -->
                    <p *ngIf="participantsNum?.hasError('minParticipants')">there is no participants</p>
                </div>
                <div *ngIf="beginDate?.invalid && (beginDate?.touched || beginDate?.dirty)">
                    <p *ngIf="beginDate?.errors?.['required']">start date is required</p>
                </div>
                <div *ngIf="endDate?.invalid && (endDate?.touched || endDate?.dirty)">
                    <p>test end date error</p>
                    <p *ngIf="endDate?.errors?.['required']">end date is required</p>
                    <p *ngIf="endDate?.hasError('required')">end date is required</p>
                    <p *ngIf="newTravelForm.get('endDate')?.hasError('required')">end date is required!!!!!!</p>
                    <p *ngIf="newTravelForm.get('endDate')?.errors?.['required']">end date is required!!!!!!</p>
                </div>
                <!--
                <div *ngIf="(beginDate?.touched || beginDate?.dirty) && beginDate?.invalid">
                     <p *ngIf="beginDate?.errors?.['dateAlreadyPassed']">begin date has already passed</p> 
                    <p *ngIf="beginDate?.hasError('dateAlreadyPassed')">begin date has already passed</p>
                </div>

                <br/>
                <p>test area</p>
                <p *ngIf="newTravelForm.get('endDate')?.hasError('dateAlreadyPassed')">
                    Selected date cannot be in the past.
                </p>
                <p *ngIf="beginDate?.errors?.['dateAlreadyPassed']">begin date has already passed</p>
                <p *ngIf="beginDate?.hasError('dateAlreadyPassed')">begin date has already passed</p>
                <p *ngIf="endDate?.hasError('dateAlreadyPassed')">end date has already passed</p>
                <p *ngIf="endDate?.hasError('demoValidator')">demoValidator!!!!!!!</p>
                <p *ngIf="endDate?.errors?.['dateAlreadyPassed']">end date has already passed</p>
                <p *ngIf="endDate?.errors?.['demoValidator']">demoValidator!!!!!!!</p>
                <p>end of test area</p>
                <br/>

                <div *ngIf="(endDate?.touched || endDate?.dirty) && endDate?.invalid">
                    <p *ngIf="(beginDate?.touched || beginDate?.dirty) && endDate?.errors?.['endBeforeStart']">The end date can only be after the start date</p>
                    
                    <p *ngIf="endDate?.errors?.['dateAlreadyPassed']">end date has already passed</p> 
                    
                    <p *ngIf="endDate?.hasError('dateAlreadyPassed')">end date has already passed</p>
                </div>
                -->
            </div>
            <div class="down-row">
                <div>
                    <svg [class.svgDisabled]="newTravelForm.invalid" (click)="submit(newTravelForm)" id="submit-signin-form-svg" aria-hidden="true" role="img" width="1em" height="1em" 
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" 
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11L11 17L21 6.99999" 
                        class="il-md-length-25 il-md-duration-4 il-md-delay-0"/>
                    </svg>
                </div>
            </div>
        </form>
        
    </div>
</section>
